.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}
.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}
.rich-text li {
  margin-bottom: 8px;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text h6 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #666666;
}
.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #555555;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #444444;
}
.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #333333;
}
.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #252525;
}
.rich-text h3 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #252525;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text {
  font-size: 15px;
  color: #7a7b7d;
}

::-webkit-scrollbar {
  display: none;
}
